/*header*/
nav ul li .about {
    color: #fff;
	background: #0dbfdd;
}
nav li .about:hover {
	color: #fff;
}
.banner1 {
	width: 90%;
	height: 760px;
	margin: 0 auto;
	background-image: url(../img/about-bg1.jpg);
	-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
}
.banner2 {
	width: 90%;
	height: 728px;
	margin: 0 auto;
	background-image: url(../img/about-bg2.jpg);
	-webkit-background-size: 100% auto;
			background-size: 100% auto;
}
.line {
	width: 90%;
	height: 15px;
	margin: 0 auto;
	background: #0dbfdd;
}
/*content*/
.content {
	width: 100%;
	overflow: hidden;
}
.content .about {
	width: 60%;
	height: 225px;
	margin: 0 auto;
	background-image: url(../img/about.jpg);
	-webkit-background-size: 100% auto;
			background-size: 100% auto;
}
.member {
	position: relative;
	width: 90%;
	height: 545px;
	margin: 0 auto;
	text-align: center;
	background: #0dbfdd;
}
.member h1 {
	max-width: 100%;
	padding: 40px 0 40px; 
	font-size: 25px;
	color: #fff;
}
.member .img {
	width: 960px;
    height: 55%;
    margin: 0 auto;
}
.member .img div {
	float: left;
	width: 160px;
	font-size: 14px;
	color: #e2f8ff;
}
.member .img h3 {
	margin-top: 10px;
}
.member .img h4 {
	margin-top: 5px;
	font-size: 13px;
	font-weight: normal;
}
.member .img .work {
	width: 53%;
    margin: 15px auto;
    text-align: left;
    font-size: 12px;
    color: #e2f8ff;
}
.member .link {
	width: 220px;
	margin: 50px auto 0;
}
.member .link a {
	padding: 10px 30px;
	border: 1px solid  #fff;
	border-radius: 20px;
	font-weight: bold;
	font-size: 14px;
	color: #e2f8ff;
}
.member .link a:hover {
	background: #0cb3d0;
}