body, ul, h1, h2, h3, h4, h5, h6, form, dl, p {
    margin: 0;
	padding: 0;
}
body {
	font-family: "微软雅黑";
	background: #f4f4f4;
}
header {
	width: 100%;
	height: 4px;
	background: #0dbfdd;
}
.container {
	width: 100%;
	margin-top: 70px;
}
.content {
	width: 28%;
	margin: 0 auto;
}
.top .logo {
	width: 21%;
	margin: 0 auto;
}
.top h1 {
	margin: 10px 0 25px 0;
	text-align: center;
	font-size: 2em;
	color: #747474;
	font-weight: normal;
}
.setting {
	width: 100%;
	padding: 36px 0 20px;
	border: 1px solid  #dedede;
	text-align: center;
	background: #fff;
}
.setting form div {
	margin-bottom: 15px;
}
.setting form input {
	width: 77%;
	height: 20px;
	padding: 10px;
	font-size: 1em;
	border: 1px solid  #cccbcb;
	border-radius: 7px;
	letter-spacing: 1px;
}
.setting form input:focus {
	outline: none;
	-webkit-box-shadow: 0 0 5px #000;
			box-shadow: 0 0 5px #000;
}
.setting button {
	display: block;
	width: 84%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid  #cccbcb;
	border-radius: 7px;
	font-size: 1em;
	color: #fff;
	background: #0dbfdd;
	cursor: pointer;
}
.setting button:hover {
	background: #0cb3d0;
}
.setting button:focus {
	outline: none;
	border: 1px solid  #0cb3d0;
}
.log-in {
	text-align: center;
}
.log-in .have {
	margin-top: 25px;
	line-height: 1.63636364;
	color: #747474;
	font-size: .91666667rem;
}
.log-in a {
	font-size: 16px;
	color: #0dbfdd;
	text-decoration: none;
}