/*header*/
.top ul li .home {
	color: #fff;
	background: #0dbfdd;
}
.top ul li .home:hover {
	color: #fff;
}
.banner {
	min-height: 800px;
	background-image: url(../img/home-bg.jpg);
	background-attachment: fixed;
	-webkit-background-size: 100% auto;
			background-size: 100% auto;
}
/*container*/
.container {
	width: 100%;
}
.content {
	width: 80%;
	margin: 118px auto;
}
.content .icon-wrap {
	float: left;
	width: 31%;
	margin: 0 34px 118px 0;
}
.content .design {
	margin-right: 0;
}
.content .icon {
	width: 75px;
	margin: 0 auto;
}
.content h1 {
	margin: 5px 0;
	text-align: center;
	color: #8c8c8c;
}
.content p {
	width: 79%;
	line-height: 150%;
	font-size: .8888em;
    margin: 0 auto;
	color: #a2a2a2;
}
